<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ning.ybsxpss">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- 使用网络功能所需权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读写权限 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- android8.0引入 安装未知应用 -->
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />


    <application
        android:name=".app.App"
        android:allowBackup="true"
        android:icon="@drawable/pss"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pss"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.zz.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".activity.MainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.LoginActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible"></activity>
        <activity
            android:name=".activity.RegisterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.UserCenterActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.OrderDetailsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.DaiFaHuoActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.PickingListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.SourceGoodsListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.SupplierInfoActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.YiFaHuoActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.YiQianShouActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.QuanBuActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.GoodsMaintainActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.AmendActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.IssueGoodsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.IssueGoodsListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.AddGoodsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.SupplierListActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.NewSupplierActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.AlterSupplierActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.DzdActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.MyClientActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.GoodsCustomActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible|adjustPan" />
        <activity
            android:name=".activity.AccountSettingsActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.MessageActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.UnitInformationActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.AlterPawActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.FoundPawActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.SetPawActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.NumberActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity
            android:name=".activity.NewUserActivity"
            android:windowSoftInputMode="adjustUnspecified|stateHidden|adjustPan|stateVisible" />
        <activity android:name=".activity.FillSourceActivity" />
        <activity android:name=".activity.HtmlActivity" />
        <activity android:name=".activity.FirstActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.CheckReportActivity"></activity>

    </application>

</manifest>